// Hero Animations
.hero-reveal {

    &.reveal-heading .elementor-heading-title,
    &.reveal-heading > * {
        clip-path: inset(0 100% 0 0);
    }
    
    &.reveal-image img,
    &.reveal-image .elementor-widget-container {
        clip-path: inset(0 0 100% 0);
    }


    &.is-revealed {
        &.reveal-heading .elementor-heading-title,
        &.reveal-heading > * {
            will-change: clip-path;
            animation: clipRevealLeftToRight 1.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
            animation-delay: 0.2s;
        }

        &.reveal-image img,
        &.reveal-image .elementor-widget-container {
            will-change: clip-path;
            animation: clipRevealTopToBottom 1.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
            animation-delay: 0.3s;
        }
    }
}

@keyframes clipRevealLeftToRight {
    0% {
        clip-path: inset(0 100% 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes clipRevealTopToBottom {
    0% {
        clip-path: inset(0 0 100% 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}