// All Gravity forms style
body {
.gform_wrapper {
    font-family: var(--e-global-typography-text-font-family, "Plus Jakarta Sans");
    color: var(--e-global-color-text, #231F20);
    background-color: transparent;
	height: 100%;
    .gform_validation_errors {
        display: none;
    }
    .gform_heading {
        display: none;
    }
    form {
        margin: 0;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
        background-color: transparent;
        .gform_body {
            .gform_fields {
                grid-column-gap: 24px;
                grid-row-gap: 24px;
                @media (max-width:768px) {
                    grid-column-gap: 20px;
                    grid-row-gap: 20px;
                }
                .gfield {
                    &.gfield_error {
                        .gfield_label {
                            color: inherit;
                        }
                    }
                    .gfield_label {
                        margin-bottom: 5px;
                        font-size: 1.125rem;
                        line-height: 1.5;
                        font-weight: normal;
                    }
                    .gfield_required {
                        font-size: 1.125rem;
                    }
					label.gform-field-label {
						font-size: 1.125rem;
                        line-height: 1.5;
                        font-weight: normal;
						cursor: pointer;
					}
                    input[type=text], 
                    input[type=email], 
                    input[type=url], 
                    input[type=password], 
                    input[type=tel], 
                    input[type=search],
                    input[type=number],
                    textarea,
                    select {
                        height: 40px;
                        padding: 10px;
                        font-size: 1.125rem;
                        line-height: 1;
                        color: inherit;
                        border: none;
                        border-radius: 10px;
                        background-color: #fff;
                        -webkit-appearance: none;
						border: 1px solid #fff;
                        &:focus {
							outline: none;
                            border-color: var( --e-global-color-primary );
                        }
                    }
                    .ginput_container_textarea {
                        textarea {
                            min-height: 94px;
                        }
                    }
					.gfield_radio {
						.gchoice {
							margin-bottom: 5px;
							input[type=radio] {
								display: none;
							}
							input[type=radio]:checked + label::after {
								display: block;
							}
							label {
								position: relative;
								display: flex;
								align-items: center;
								gap: 10px;
							}
							label::before {
								content: "";
								display: block;
								width: 18px;
								height: 18px;
								border: 1px solid var( --e-global-color-text );
								background-color: transparent;
								border-radius: 100%;
							}
							label::after {
								display: none;
								position: absolute;
								content: "";
								width: 10px;
								height: 10px;
								background-color: var(--e-global-color-text);
								border-radius: 100%;
								left: 4px;
							}
						}
						
					}
					.gfield_checkbox {
						.gchoice {
							position: relative;
							margin-left: 26px;
							input {
								width: 15px;
								height: 15px;
								margin: 0;
								cursor: pointer;
								position: absolute;
								left: -26px;
								top: 9px;
							}
							input:checked+label::before {
								display: block;
							}
							label {
								&::before{
									content: "";
									position: absolute;
									left: -26px;
									top: 9px;
									display: none;
									width: 15px;
									height: 15px;
									background-color: var(--e-global-color-secondary);
									border-radius: 3px;
									background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBMaWNlbnNlOiBNSVQuIE1hZGUgYnkgS2VuYW4gR3VuZG9nYW46IGh0dHBzOi8vZ2l0aHViLmNvbS9rZW5hbmd1bmRvZ2FuL2ZvbnRpc3RvIC0tPgo8c3ZnIGZpbGw9IiNmZmYiIHZpZXdCb3g9IjAgLTQuNSAzMyAzMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtMCAxMC45MDkgNC4zNjQtNC4zNjQgOC43MjcgOC43MjcgMTUuMjczLTE1LjI3MyA0LjM2NCA0LjM2NC0xOS42MzYgMTkuNjM2eiIvPjwvc3ZnPg==
	);
									background-repeat: no-repeat;
									background-position: center;
									background-size: 11px;
								}
							}
						}
					}
                    .ginput_container_select {
                        position: relative;
                        select {
                            width: 100%;
                            cursor: pointer;
							font-size: 1rem;
                        }
                        &::after {
                            content: "";
                            display: block;
                            width: 12px;
                            height: 12px;
                            position: absolute;
                            right: 15px;
                            top: 50%;
                            transform: translateY(-50%);
                            z-index: 10;
                            background-image: url("/wp-content/uploads/2026/05/gray-chevron-down.svg");
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center;
                        }
                    }
                    .gfield_description.validation_message {
                        margin-top: 5px;
						padding: 0;
						border: none;
						background-color: transparent;
						font-size: 0.9rem;
						width: fit-content;
                    }
                }
            }
        }
        .gform_footer {
            width: 100%;
            padding: 0 !important;
            margin: 40px 0 0 !important;
            position: relative;
            @media (max-width: 767px) {
                margin: 24px 0 0 !important;
            }
            input[type=submit] {
				width: 100%;
                border: none;
				background-color: var( --e-global-color-secondary );
				&:hover {
					background-color: var( --e-global-color-primary );
				}
				transition: all 0.3s;
				@media (max-width: 767px) {
					font-size: 1rem;
				}
            }
            .gform-loader {
                position: absolute;
                z-index: 10;
                right: 20px;
				top: 16px;
				width: 20px;
				height: 20px;
            }
        }
    }
}
.gform_confirmation_wrapper {
	.gform_confirmation_message {
		color: #333;
		font-size: 1.125rem;
		width: 100%;
		text-align: center;
	}
}
}


body .gform_wrapper.worksheet-form_wrapper {
    background-color: #C6EFFE;
    padding: 40px;
    border-radius: 40px;

    @media (max-width: 768px) {
        padding: 30px 20px;
    }

    form.worksheet-form {
        .gform_footer {
            margin-top: 30px !important;
            input[type=submit] {
                background-color: #005375;
                margin-bottom: 0;
            

                &:hover {
                    background-color: #0091B3;
                }

                &:active {
                    transform: scale(0.98);
                }
            }
        }
    }
}