.woocommerce-order {
    font-family: var(--e-global-typography-text-font-family);
	
	p.woocommerce-notice.woocommerce-thankyou-order-received {
		margin-bottom: 34px;
		@media (max-width: 767px) {
			font-size: 1rem;
		}
	}
	
	ul.woocommerce-order-overview {
        display: flex;
		&:before, &:after {
			display: none;
		}
		@media (max-width: 767px) {
			padding: 0;
			flex-direction: column;
			gap: 20px;
		}
	}

    a {
        color: var(--e-global-color-primary);
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            color: var(--e-global-color-accent);
        }
    }

    h2 {
        color: var(--e-global-color-primary);
        font-weight: 600;
        font-size: 1.875rem;
        margin-top: 40px;
        margin-bottom: 20px;

        &:first-child {
            margin-top: 0;
        }
    }

    table.shop_table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 40px;

        th,
        td {
            padding: 15px;
            border-bottom: 1px solid #eee;
            text-align: left;
        }

        th {
            font-weight: 600;
            color: var(--e-global-color-primary);
        }

        tfoot {
            th,
            td {
                border-top: 2px solid #eee;
                font-weight: 600;
            }
        }
		.woocommerce-button {
			background: var(--e-global-color-primary);
			color: #fff;
			padding: 10px 20px;
			border-radius: 20px;
			font-size: 1rem;
			line-height: 1.2;
			text-decoration: none;
			transition: all 0.3s ease;
		}
    }

    address {
        background: #f9f9f9;
        padding: 25px;
        border-radius: 8px;
        font-style: normal;
        line-height: 1.6;

        p {
            margin-bottom: 5px;
        }
    }
}