.worksheet-accordion-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    .worksheet-accordion-item {
         border: none; 
        .worksheet-accordion-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 30px 0;
            background: transparent;
            border: none;
            border-top: 2px dashed #577282;
            cursor: pointer;
            transition: all 0.3s ease;
            outline: none;
            text-align: left;
            border-radius: 0;
            .worksheet-accordion-title {
                margin:0;
                flex: 1;
                padding-right: 20px;
                font-family: var(--e-global-typography-secondary-font-family);
                font-size: 1.875rem;
                font-weight: 600;
                color: var(--e-global-color-text);
                line-height: 1.1;
            }

            .worksheet-accordion-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #1E1E1E;
                flex-shrink: 0;
                
                svg {
                    width: 19px;
                    height: auto;
                    transition: transform 0.3s ease;
                    display: block;
                }
            }
        }

        .worksheet-accordion-header.active .worksheet-accordion-icon svg {
            transform: rotate(180deg);
        }
        
        .worksheet-accordion-icon .elementor-accordion-icon-opened {
            display: none;
        }
        
        .worksheet-accordion-header.active .worksheet-accordion-icon .elementor-accordion-icon-closed:has(+ .elementor-accordion-icon-opened) {
            display: none;
        }
        
        .worksheet-accordion-header.active .worksheet-accordion-icon .elementor-accordion-icon-opened {
            display: block;
        }


        &:last-child .worksheet-accordion-header {
            border-bottom: 2px dashed #577282;
        }

    
        .worksheet-accordion-content {
            display: none;
            .worksheet-accordion-content-inner {
                color: var(--e-global-color-text);
                font-size: 1.125rem;
                line-height: 1.6;
                font-family: var(--e-global-typography-primary-font-family);
            }
        }
    }
}